:root {
  --primary-color: #f4ffe6;
  --background-color: #0b1401;
  --secondary-color: #e4f789;
  font-size: 18px;
}

* {
  background-color: var(--background-color);
}

::selection {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color: var(--primary-color);
  margin: 20px 240px;
  height: 100%;
}

#name {
  font-family: Pinyon Script, cursive;
  font-size: 3.5em;
  margin: 0;
}

.header {
  font-size: 0.6em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.introduction {
  margin: 54px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
}

.column {
  position: relative;
  padding: 0;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.index {
  font-family: "Space Mono", monospace;
}

.specialities {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.specialities > p {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: 600;
}

li {
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 24px;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0.75em 0 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  font-style: italic;
  color: var(--secondary-color);
  transition: color 0.1s ease-in;
}

.photo-container-1,
.photo-container-2,
.photo-container-3 {
  position: absolute;
}

.photo-container-1 {
  bottom: 0;
  right: 30%;
}

.photo-container-2 {
  top: 0;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.photo-container-3 {
  bottom: 10%;
  right: 0;
  background-color: transparent;
}

#image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.draggable-image {
  cursor: grab;
}

.finalnote {
  font-size: 0.6em;
  text-transform: uppercase;
  margin: 0;
}

/* RESPONSIVE WEBSITE */
/* PHONE */
@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem;
    margin: 20px 24px;
  }

  .introduction {
    margin: 40px 0 40px;
  }

  #name {
    font-size: 2.75em;
  }

  .specialities {
    font-size: 0.65em;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .left {
    gap: 40px;
  }

  #image-container {
    height: 40%;
  }

  .photo-container-2,
  .photo-container-3 {
    position: relative;
  }

  .photo-container-1 {
    display: none;
  }

  .photo-container-2 {
    width: 45%;
    height: auto;
    bottom: 0;
    right: 0;
  }

  .photo-container-3 {
    width: 20%;
    height: auto;
    top: 20px;
    right: 40px;
  }
}

/* TABLET, IPAD */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px; /* Adjust font size */
    margin: 20px 40px; /* Adjust margins */
    min-width: 80%;
  }

  #name {
    font-size: 3em; /* Adjust heading font size */
  }

  .specialities {
    font-size: 0.8em; /* Adjust specialities font size */
  }

  .container {
    grid-template-columns: 1fr; /* Adjust grid layout */
  }
}
