:root {
  --primary-color: #f4ffe6;
  --background-color: #0b1401;
  --hover-color: #e4f789;
}

* {
  background-color: var(--background-color);
}

body {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: var(--primary-color);
  margin: 20px 240px;
  height: 100%;
}

#name {
  font-family: Pinyon Script, cursive;
  font-size: 3.5em;
  margin: 0;
}

.header {
  font-size: 0.6em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.introduction {
  margin: 54px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
}

.column {
  position: relative;
  padding: 0;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.index {
  font-family: "Space Mono", monospace;
}

.specialities {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.specialities > p {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: 600;
}

li {
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 24px;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0.75em 0 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  font-style: italic;
  /* text-decoration: underline; */
  color: var(--hover-color);
  transition: 100ms ease-in;
}

.photo-container-1 {
  position: absolute;
  bottom: 0;
  right: 30%;
}

.photo-container-2 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.photo-container-3 {
  position: absolute;
  bottom: 10%;
  right: 0;
  background-color: transparent;
}

#image-container {
  position: relative;
  width: 100%; /* Set width of container */
  height: 100%; /* Set height of container */
}

.draggable-image {
  cursor: grab; /* Change cursor to indicate draggable */
}

.finalnote {
  font-size: 0.6em;
  text-transform: uppercase;
  margin: 0;
}
